/* Подвал */
.footer {
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(4px);
  color: #ccc;
  text-align: center;
  padding: 18px 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  margin-top: 35px;
  font-size: 0.9rem;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  position: relative;
  z-index: 3;
}

.footer a {
  color: #ffcc00;
  text-decoration: none;
  transition: 0.2s;
}

.footer a:hover {
  color: #ffffff;
}
